<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
			<!-- <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} 
				- %msg%n</Pattern> -->
		</encoder>
		<!-- <layout class="ch.qos.logback.classic.PatternLayout"> <Pattern> %d{yyyy-MM-dd 
			HH:mm:ss} %-5level %logger{36} - %msg%n </Pattern> </layout> -->
	</appender>

	<!-- Send debug messages to a file at "c:/jcg.log" -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/shiva/crud.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>D:/crud/rest.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.springframework" level="INFO"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.hibernate" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- <logger name="org.hibernate.SQL" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger> -->

	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>



</configuration>